project_id = "hgqzdzekhlyoidwulrnf"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions.process-document]
verify_jwt = true

[functions.evaluate-answer]
verify_jwt = true

[functions.get-hint]
verify_jwt = true
